In [ ]:
# 21
letters = 'python'
print(letters[0], letters[2])

In [ ]:
# 22
license_plate = "24가 2210"
print(license_plate[-4:])

In [ ]:
# 23
string = "홀짝홀짝홀짝"
print(string[::2])

In [ ]:
# 24
string = "PYTHON"
print(string[::-1])

In [ ]:
# 25
phone_number = "010-1111-2222"
number = phone_number.replace("-", " ")
print(number)

In [ ]:
# 26
phone_number = "010-1111-2222"
number = phone_number.replace("-", "")
print(number)

In [ ]:
# 27
url = "http://sharebook.kr"
idx = url.find(".")
print(url[idx+1:])

In [ ]:
# 28
lang = 'python'
lang[0] = 'P'
print(lang)

# Error: 문자열 수정은 불가능하다

In [ ]:
# 29
string = 'abcdfe2a354a32a'
st = string.replace("a", "A")
print(st)

In [ ]:
# 30
string = 'abcd'
string.replace('b', 'B')
print(string)

# abcd

In [ ]:
# 31
a = "3"
b = "4"
print(a + b)

# 34

In [ ]:
# 32
print("Hi" * 3)

# HiHiHi

In [ ]:
# 33
print("-" * 80)

In [ ]:
# 34
t1 = 'python'
t2 = 'java'
t3 = t1 + " " + t2 + " "
print(t3 * 4)

In [ ]:
# 35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

In [ ]:
# 36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

In [ ]:
# 37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

In [ ]:
# 38
상장주식수 = "5,969,782,550"
num = 상장주식수.replace(",", "")
num = (int)(num)
print(num)
print(type(num))

In [ ]:
# 39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

In [ ]:
# 40
data = "   삼성전자    "
d = data.strip()
print(d)

In [ ]:
# 41
ticker = "btc_krw"
ticker_upper = ticker.upper()
print(ticker_upper)

In [ ]:
# 42
ticker = "BTC_KRW"
ticker_lower = ticker.lower()
print(ticker_lower)

In [ ]:
# 43
st = 'hello'
st_c = st.capitalize()
print(st_c)

In [ ]:
# 44
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

In [ ]:
# 45
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

In [ ]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

In [ ]:
# 47
a = "hello world"
a.split()

In [ ]:
# 48
ticker = "btc_krw"
ticker.split("_")

In [ ]:
# 49
date = "2020-05-01"
date.split("-")

In [ ]:
# 50
data = "039490     "
data.rstrip()