In [ ]:
# 51
movie_rank  = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

In [ ]:
# 52
movie_rank.append("배트맨")
print(movie_rank)

In [ ]:
# 53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

In [ ]:
# 54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

In [ ]:
# 55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove('스플릿')
movie_rank.remove('배트맨')
print(movie_rank)

In [ ]:
# 56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

In [ ]:
# 57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

In [ ]:
# 58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

In [ ]:
# 59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

In [ ]:
# 60
nums = [1, 2, 3, 4, 5]
avg = sum(nums) / len(nums)
print(avg)

In [ ]:
# 61
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

In [ ]:
# 62
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

In [ ]:
# 63
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

In [ ]:
# 64
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

In [ ]:
# 65
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

In [ ]:
# 66
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

In [ ]:
# 67
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

In [ ]:
# 68
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

In [ ]:
# 69
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

In [ ]:
# 70
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)