In [ ]:
print("Hello World")

In [ ]:
print("Mary's cosmetics")

In [ ]:
print('신씨가 소리질렀다. "도둑이야".')

In [ ]:
print('"C:\Windows"')

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n은 새로운 라인을 만드는 것이다.
# \t는 tab의 역할을 한다.

In [ ]:
print("naver", "kakao", "sk", "samsung", sep=";")

In [ ]:
print("naver", "kakao", "sk", "samsung", sep="/")

In [ ]:
print("first", end='');print("second")

In [ ]:
print(5/3)

In [ ]:
samsung = 50000
total = samsung * 10
print(total)

In [ ]:
total = 298000000000000
current = 5000
PER = 15.79
print(total, type(total))
print(current, type(current))
print(PER, type(PER))

In [ ]:
s = "hello"
t = "python"
print(s + "!", t)

In [ ]:
2 + 2 * 3

In [ ]:
a = "132"
type(a)

In [ ]:
num_str = "720"
num_int = (int)(num_str)
type(num_int)

In [ ]:
num = 100
type((str)(num))

In [ ]:
num =  "15.79"
type((float)(num))

In [ ]:
year = "2020"
year = (int)(year)
print(year - 1)
print(year - 2)
print(year - 3)

In [ ]:
month = 48,584
total = month * 35
print(total)