In [2]:
# 131
과일 = ["사과", "귤", "수박"]
for fruit in 과일:
    print(fruit)

사과
귤
수박

In [3]:
# 132
과일 = ["사과", "귤", "수박"]
for x in 과일:
    print("#####")

#####
#####
#####

In [4]:
# 133
for x in ["A", "B", "C"]:
    print(x)

A
B
C

In [5]:
# 134
for x in ["A", "B", "C"]:
    print("출력:", x)

출력: A
출력: B
출력: C

In [6]:
# 135
for x in ["A", "B", "C"]:
    b = x.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [7]:
# 136
for x in [10, 20, 30]:
    print(x)

10
20
30

In [8]:
# 137
for x in [10, 20, 30]:
    print(x)

10
20
30

In [9]:
# 138
for x in [10, 20, 30]:
    print(x)
    print("--------")

10
--------
20
--------
30
--------

In [10]:
# 139
print("++++")
for x in [10, 20, 30]:
    print(x)

++++
10
20
30

In [11]:
# 140
for x in range(4):
    print("-------")

-------
-------
-------
-------

In [13]:
# 141
리스트 = [100, 200, 300]
for x in 리스트:
    print(x + 10)

110
210
310

In [14]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for x in 리스트:
    print("오늘의 메뉴:", x)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [16]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for x in 리스트:
    print(len(x))

6
4
4

In [17]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    print(x, len(x))

dog 3
cat 3
parrot 6

In [19]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    print(x[0])

d
c
p

In [21]:
# 146
리스트 = [1, 2, 3]
for x in 리스트:
    print("3 x", x)

3 x 1
3 x 2
3 x 3

In [22]:
# 147
리스트 = [1, 2, 3]
for x in 리스트:
    print("3 x", x, "=", 3 * x)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [23]:
# 148
리스트 = ["가", "나", "다", "라"]
for x in range(1, len(리스트)):
    print(리스트[x])

나
다
라

In [24]:
# 149
리스트 = ["가", "나", "다", "라"]
for x in range(0, len(리스트), 2):
    print(리스트[x])

가
다

In [25]:
# 150
리스트 = ["가", "나", "다", "라"]
for x in range(len(리스트)-1, -1, -1):
    print(리스트[x])

라
다
나
가

In [26]:
# 151
리스트 = [3, -20, -3, 44]
for x in 리스트:
    if x < 0:
        print(x)

-20
-3

In [2]:
# 152
리스트 = [3, 100, 23, 44]
for x in 리스트:
    if x % 3 == 0:
        print(x)

3

In [3]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for x in 리스트:
    if x < 20 and x % 3 == 0:
        print(x)

12
18

In [4]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for x in 리스트:
    if len(x) >= 3:
        print(x)

study
python
language

In [5]:
# 155
리스트 = ["A", "b", "c", "D"]
for x in 리스트:
    if x.isupper():
        print(x)

A
D

In [6]:
# 156
리스트 = ["A", "b", "c", "D"]
for x in 리스트:
    if x.islower():
        print(x)

b
c

In [16]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    upper = x[0].upper()
    print(upper + x[1:])

Dog
Cat
Parrot

In [15]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for x in 리스트:
    print(x.split(".")[0])

hello
ex01
intro

In [17]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for x in 리스트:
    s = x.split(".")
    if s[1] == "h":
        print(x)

intra.h
define.h

In [19]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for x in 리스트:
    s = x.split(".")
    if s[1] == "h" or s[1] == "c":
        print(x)

intra.h
intra.c
define.h

In [20]:
# 161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [21]:
# 162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [23]:
# 163
for i in range(0, 31, 3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30

In [24]:
# 164
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [28]:
# 165
for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [32]:
# 166
for i in range(1, 10):
    print("3x" + str(i) + " = " + str(3*i))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [33]:
# 167
for i in range(1, 10, 2):
    print("3x" + str(i) + " = " + str(3*i))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [36]:
# 168
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

55

In [37]:
# 169
sum = 0
for i in range(1, 11, 2):
    sum += i
print(sum)

25

In [38]:
# 170
mul = 1
for i in range(1, 11):
    mul *= i
print(mul)

3628800

In [40]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [41]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [43]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list)-i-1, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [44]:
# 174
price_list = [32100, 32150, 32000, 32500]
num = 100
for i in range(1, len(price_list)):
    print(num, price_list[i])
    num += 10

100 32150
110 32000
120 32500

In [46]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [47]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(1, len(my_list)-1):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라
다 라 마

In [48]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)):
    print(my_list[len(my_list)-i], my_list[len(my_list)-i-1])

라 다
다 나
나 가

In [49]:
# 178
my_list = [100, 200, 400, 800]
for i in range(1, len(my_list)):
    print(my_list[i]-my_list[i-1])

100
200
400

In [50]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list)-1):
    print((my_list[i-1] + my_list[i] + my_list[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [52]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]