In [ ]:
# 131
과일 = ["사과", "귤", "수박"]
for fruit in 과일:
    print(fruit)

In [ ]:
# 132
과일 = ["사과", "귤", "수박"]
for x in 과일:
    print("#####")

In [ ]:
# 133
for x in ["A", "B", "C"]:
    print(x)

In [ ]:
# 134
for x in ["A", "B", "C"]:
    print("출력:", x)

In [ ]:
# 135
for x in ["A", "B", "C"]:
    b = x.lower()
    print("변환:", b)

In [ ]:
# 136
for x in [10, 20, 30]:
    print(x)

In [ ]:
# 137
for x in [10, 20, 30]:
    print(x)

In [ ]:
# 138
for x in [10, 20, 30]:
    print(x)
    print("--------")

In [ ]:
# 139
print("++++")
for x in [10, 20, 30]:
    print(x)

In [ ]:
# 140
for x in range(4):
    print("-------")

In [ ]:
# 141
리스트 = [100, 200, 300]
for x in 리스트:
    print(x + 10)

In [ ]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for x in 리스트:
    print("오늘의 메뉴:", x)

In [ ]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for x in 리스트:
    print(len(x))

In [ ]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    print(x, len(x))

In [ ]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    print(x[0])

In [ ]:
# 146
리스트 = [1, 2, 3]
for x in 리스트:
    print("3 x", x)

In [ ]:
# 147
리스트 = [1, 2, 3]
for x in 리스트:
    print("3 x", x, "=", 3 * x)

In [ ]:
# 148
리스트 = ["가", "나", "다", "라"]
for x in range(1, len(리스트)):
    print(리스트[x])

In [ ]:
# 149
리스트 = ["가", "나", "다", "라"]
for x in range(0, len(리스트), 2):
    print(리스트[x])

In [ ]:
# 150
리스트 = ["가", "나", "다", "라"]
for x in range(len(리스트)-1, -1, -1):
    print(리스트[x])

In [ ]:
# 151
리스트 = [3, -20, -3, 44]
for x in 리스트:
    if x < 0:
        print(x)

In [ ]:
# 152
리스트 = [3, 100, 23, 44]
for x in 리스트:
    if x % 3 == 0:
        print(x)

In [ ]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]
for x in 리스트:
    if x < 20 and x % 3 == 0:
        print(x)

In [ ]:
# 154
리스트 = ["I", "study", "python", "language", "!"]
for x in 리스트:
    if len(x) >= 3:
        print(x)

In [ ]:
# 155
리스트 = ["A", "b", "c", "D"]
for x in 리스트:
    if x.isupper():
        print(x)

In [ ]:
# 156
리스트 = ["A", "b", "c", "D"]
for x in 리스트:
    if x.islower():
        print(x)

In [ ]:
# 157
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    upper = x[0].upper()
    print(upper + x[1:])

In [ ]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for x in 리스트:
    print(x.split(".")[0])

In [ ]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for x in 리스트:
    s = x.split(".")
    if s[1] == "h":
        print(x)

In [ ]:
# 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for x in 리스트:
    s = x.split(".")
    if s[1] == "h" or s[1] == "c":
        print(x)

In [ ]:
# 161
for i in range(100):
    print(i)

In [ ]:
# 162
for i in range(2002, 2051, 4):
    print(i)

In [ ]:
# 163
for i in range(0, 31, 3):
    print(i)

In [ ]:
# 164
for i in range(99, -1, -1):
    print(i)

In [ ]:
# 165
for i in range(10):
    print(i / 10)

In [ ]:
# 166
for i in range(1, 10):
    print("3x" + str(i) + " = " + str(3*i))

In [ ]:
# 167
for i in range(1, 10, 2):
    print("3x" + str(i) + " = " + str(3*i))

In [ ]:
# 168
sum = 0
for i in range(1, 11):
    sum += i
print(sum)

In [ ]:
# 169
sum = 0
for i in range(1, 11, 2):
    sum += i
print(sum)

In [ ]:
# 170
mul = 1
for i in range(1, 11):
    mul *= i
print(mul)

In [ ]:
# 171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

In [ ]:
# 172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

In [ ]:
# 173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list)-i-1, price_list[i])

In [ ]:
# 174
price_list = [32100, 32150, 32000, 32500]
num = 100
for i in range(1, len(price_list)):
    print(num, price_list[i])
    num += 10

In [ ]:
# 175
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

In [ ]:
# 176
my_list = ["가", "나", "다", "라", "마"]
for i in range(1, len(my_list)-1):
    print(my_list[i-1], my_list[i], my_list[i+1])

In [ ]:
# 177
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)):
    print(my_list[len(my_list)-i], my_list[len(my_list)-i-1])

In [ ]:
# 178
my_list = [100, 200, 400, 800]
for i in range(1, len(my_list)):
    print(my_list[i]-my_list[i-1])

In [ ]:
# 179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(1, len(my_list)-1):
    print((my_list[i-1] + my_list[i] + my_list[i+1])/3)

In [ ]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

In [ ]:
# 181
apart = [["101호", "102호"],
        ["201호", "202호"],
        ["301호", "302호"]]

In [ ]:
# 182
stock = [["시가", 100, 200, 300],
        ["종가", 80, 210, 330]]

In [ ]:
# 183
stock = {"시가": [100, 200, 300],
        "종가": [80, 210, 330]}

In [ ]:
# 184
stock = {"10/10": [80, 110, 70, 90],
        "10/11": [210, 230, 190, 200]}

In [ ]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")

In [ ]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(1, len(apart)+1):
    for j in apart[len(apart)-i]:
        print(j, "호")

In [ ]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(1, len(apart)+1):
    for j in range(len(apart[len(apart)-i])-1, -1, -1):
        print(apart[len(apart)-i][j], "호")

In [ ]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
        print("-"*5)

In [ ]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
    print("-"*5)

In [ ]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
print("-"*5)

In [ ]:
# 191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j + (j*0.00014))

In [ ]:
# 192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j + (j*0.00014))
    print("-"*4)

In [ ]:
# 193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for i in data:
    for j in i:
        result.append(j + (j*0.00014))
print(result)

In [ ]:
# 194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for num, i in enumerate(data):
    another = []
    for j in i:
        another.append(j + (j*0.00014))
    result.append(another)
print(result)

In [ ]:
# 195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    print(i[3])

In [ ]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

In [ ]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] >= i[0]:
        print(i[3])

In [ ]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

In [ ]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[0])

In [2]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
total = 0
for i in ohlc[1:]:
    total += i[3] - i[0]
print(total)

0