In [2]:
# 131
과일 = ["사과", "귤", "수박"]
for fruit in 과일:
    print(fruit)

사과
귤
수박

In [3]:
# 132
과일 = ["사과", "귤", "수박"]
for x in 과일:
    print("#####")

#####
#####
#####

In [4]:
# 133
for x in ["A", "B", "C"]:
    print(x)

A
B
C

In [5]:
# 134
for x in ["A", "B", "C"]:
    print("출력:", x)

출력: A
출력: B
출력: C

In [6]:
# 135
for x in ["A", "B", "C"]:
    b = x.lower()
    print("변환:", b)

변환: a
변환: b
변환: c

In [7]:
# 136
for x in [10, 20, 30]:
    print(x)

10
20
30

In [8]:
# 137
for x in [10, 20, 30]:
    print(x)

10
20
30

In [9]:
# 138
for x in [10, 20, 30]:
    print(x)
    print("--------")

10
--------
20
--------
30
--------

In [10]:
# 139
print("++++")
for x in [10, 20, 30]:
    print(x)

++++
10
20
30

In [11]:
# 140
for x in range(4):
    print("-------")

-------
-------
-------
-------

In [13]:
# 141
리스트 = [100, 200, 300]
for x in 리스트:
    print(x + 10)

110
210
310

In [14]:
# 142
리스트 = ["김밥", "라면", "튀김"]
for x in 리스트:
    print("오늘의 메뉴:", x)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [16]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for x in 리스트:
    print(len(x))

6
4
4

In [17]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    print(x, len(x))

dog 3
cat 3
parrot 6

In [19]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트:
    print(x[0])

d
c
p

In [21]:
# 146
리스트 = [1, 2, 3]
for x in 리스트:
    print("3 x", x)

3 x 1
3 x 2
3 x 3

In [22]:
# 147
리스트 = [1, 2, 3]
for x in 리스트:
    print("3 x", x, "=", 3 * x)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [23]:
# 148
리스트 = ["가", "나", "다", "라"]
for x in range(1, len(리스트)):
    print(리스트[x])

나
다
라

In [24]:
# 149
리스트 = ["가", "나", "다", "라"]
for x in range(0, len(리스트), 2):
    print(리스트[x])

가
다

In [25]:
# 150
리스트 = ["가", "나", "다", "라"]
for x in range(len(리스트)-1, -1, -1):
    print(리스트[x])

라
다
나
가

In [26]:
# 151
리스트 = [3, -20, -3, 44]
for x in 리스트:
    if x < 0:
        print(x)

-20
-3