# Welcome to "CrushPython"


__The prudent see danger and take refuge, but the simple keep going and suffer for it.__ Proverbs 27:12

---------

# Lesson - Lists  

------
Most of programs work not only with variables, but also use lists of variables. For example, a program can handle students informationin in a class by reading the list of students from the keyboard or from a file. 

To store such data, you can use the data structure called __list__. 

- Lists are sequences of objects. 
- Lists can contain a mix of any type of objects:
- Lists are one of the workhorse data structures.

A list is a sequence of elements numbered from 0, just as characters in the string. You create a list by putting square brackets around a comma-separated list of other Python items:

In [61]:
primes = [2, 3, 5, 7, 11, 13]
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

Like strings, you can concatenate lists using the add operation:

In [63]:
# combine two lists
c = None
print(c)

[2, 3, 5, 7, 11, 13, 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

and you can multiply a list by an integer to repeat the items in a list multiple times:

In [66]:
[True] * None

[True, True, True, True, True, True, True, True, True, True]

## Lists are mutable


Unlike strings, list indexing is different that you can set the values in the list: strings are __immutable__, but lists are __mutable__.

#### Example 6: Change the second element into uppercase

```
['red', 'ORANGE', 'yellow', 'green', 'blue', 'indigo', 'violet']
```

In [70]:
# change the first one to 'RED'
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None
print(rainbow)

['red', 'ORANGE', 'yellow', 'green', 'blue', 'indigo', 'violet']

## Making a list

Make a list called `seq` with __odd__ numbers between 1 and 20 as shown below:

```
seq = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
```

#### Solution 1: 
- Create an empty list or initialize a list.
- Use a `for` loop and `range()`.
- Use `append()` method to append an item to the list one by one.

In [71]:
None
print(seq)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

#### Solution 2 - a challenge problem:  
- You may do this now, or you would be able to do this after finishing this whole lesson.
- Produce `seq = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]` in the following code
- Use a list additon instead of `append()`.

In [109]:
seq = []
for x in range(1, 20, 2):
    None                      # use addition or in-place addition
print(seq)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]


## Indexing

Indexing on lists works much the same way as strings.

To get the first element of a list, use index 0:

In [ ]:
# print the first color
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(rainbow[0])

#### Example 1: List elments in three different ways

Three ways of printing each color in the rainbow, one element at a time as shown below:

1. using index
1. using iterable
1. using enumerate

```
1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet 
```

#### solution 1: Using list indexing

In [73]:
# using indexing 
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

#### solution 2: Using list iterable

In [74]:
# using list which is iterable
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

#### solution 3: Using enumerating list

In [75]:
# enumerating list with indices
None

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

In [76]:
# enumerating list with indices
None

1:red 2:orange 3:yellow 4:green 5:blue 6:indigo 7:violet

Slicing
-------
Slicing is used to extract a subsequence out of your sequence(e.g. list, string):

    var[lower:upper:step]

The element which has index equal to the lower bound is included in the slice, but the element which has index equal to the upper bound is excluded, so mathematically, the ie slice is `[lower, upper)`.  If you think of the indices as being between the elements, then this mentally works very nicely, as we'll see.

The `step` argument is optional, and indicates the strides between elements in the subsequence, so a step of 2 takes every second element.

List slicing also has very similar semantics to slicing on strings. 
```
- a[start:end]  items start through end-1
- a[start:]     items start through the rest of the array
- a[:end]       items from the beginning through end - 1
- a[:]          a copy of the whole list
- a[start:end:step]  start through end - 1, by step
```

#### Example 1: Slice `[11, 12]`

- slice [11, 12]

In [77]:
# slice [11, 12]
a = [10, 11, 12, 13, 14, 15]
None

[11, 12]

#### Example 2: Slice the first three elements `[10, 11, 12]`

In [78]:
# slice [10, 11, 12]
a = [10, 11, 12, 13, 14, 15]
None

[10, 11, 12]

#### Example 3: Slice all elements except the last one using a negative indices

In [79]:
# slice [10, 11, 12, 13, 14], use negative indices
a = [10, 11, 12, 13, 14, 15]
None

[10, 11, 12, 13, 14]

#### Example 4:
- There is a list that consists of pairs of name and age. 
- Make a list of names or every other elements as shown in the following list, `data`.
- Compute the average age.

```
data = ['john', 3, 'kim', 7, 'peter', 13, 'paul', 17, 'david', 10]

names: ['john', 'kim', 'peter', 'paul', 'david']
aveage age:10.00
```

#### Solution 1 : Using enumerate() or for loop

In [80]:
data = ['john', 3, 'kim', 7, 'peter', 13, 'paul', 17, 'david', 20]

None

print('names:', names)
print('average age: %.2f' % age)
print('average age: {:.2f}'.format(age))

names: ['john', 'kim', 'peter', 'paul', 'david']
ages: 60
average age: 12.00
average age: 12.00

#### Solution 2: Using slicing  - the simplest solution

In [85]:
data = ['john', 3, 'kim', 7, 'peter', 13, 'paul', 17, 'david', 20]
None

print('names:', names)
print('average age: %.2f' % age)
print('average age: {:.2f}'.format(age))

['john', 'kim', 'peter', 'paul', 'david']
[3, 7, 13, 17, 20]
average age: 12.00
average age: 12.00

### Replace elements with 

Unlike strings, because lists are mutable, you can write values into a slice.  

#### Example 6: Replace `11, 12` with `1, 2`

In [86]:
# replace 11, 12 with 1, 2
a = [10, 11, 12, 13, 13, 15]
None
print(a)

[10, 1, 2, 13, 13, 15]

This overwrites the second and third elements.  However you can inject extra elements into the list in the same way: the length of the slice and the length of the injected list don't have to match.

#### Example 7: Replace `11, 12` with `1, 2, 3, 4`
Insert `[1, 2, 3, 4]` into the slice from 1 to 3 such that it produces 
`[10, 1, 2, 3, 4, 13, 14, 15]`. 
This will remove the current contents of the slice and replace it with the new list, increasing the length of the list:

In [87]:
# replace, 1, 2 with 1, 2, 3, 4
a = [10, 1, 2, 13, 14, 15]
None
print(a)

[10, 1, 2, 3, 4, 13, 14, 15]

### Delete elements

It's also possible to use the same idea for deleting elements.

If we take the slice from 1 to 3 and inject an empty list into the slice, it will __delete__ the second and third elements:

#### Example 8: Delete elements `1, 2`
Complete the code to produce `[10, 3, 4, 13, 14, 15]`.

In [88]:
a = [10, 1, 2, 3, 4, 13, 14, 15]
None
print(a)

[10, 3, 4, 13, 14, 15]

### Copying elements

Finally, you can __slice or copy all of the elements__ with a slice like this:

#### Example 9:

For example, we want to make a copy of list `a` and have `red` is replaced with `RED` as shown below:

```
a = ['red', 'green', 'blue']
b = ['RED', 'green', 'blue']
```

What is wrong with the following code?

In [90]:
a = ['red', 'green', 'blue'] 
b = a
b[0] = b[0].upper()

print('b =', b)
print('a =', a)

b = ['RED', 'green', 'blue']
a = ['RED', 'green', 'blue']
1914591074952
1914591074952

Use `[:]` to get a copy of a list which is a mutable object.

In [92]:
a = ['red', 'green', 'blue'] 
None

b = ['RED', 'green', 'blue']
a = ['red', 'green', 'blue']
1914590048584
1914590865736

#### Example 10: Tuple data type is immutable.

Tuple data type is defined by `( )` instead of `[ ]` as shown below:

```
a = ('red', 'green', 'blue')
a = ('RED', 'green', 'blue')
```
Use `tuple()` constructor to convert a list to a tuple type. 

If you want to change the first element of `a` into uppercase, which line of code would be a problem?

In [93]:
a = ('red', 'green', 'blue')
a[0] = a[0].upper()
print(a)

TypeError: 'tuple' object does not support item assignment

To obtain `a = ('RED', 'green', 'blue')`, do the following:
- convert `a` to a list type and call it `b`. 
- change `b[0]` to `RED`.
- change `b` back to a tuple type `a`.

In [96]:
b = list(a)
None
print(a)

['RED', 'green', 'blue']
('RED', 'green', 'blue')

## List Methods

Lists are objects, so they have a lot of methods available on them.

- append         - add one element at the end
- extend         - add a sequence to the list, or an addition of two lists 
- count          - returns the number of occurences
- index          - returns the index of the first occurence.
- insert         - inserts an element by its index
- remove         - removes an element by its value
- pop            - removes an element by index and returns the value
- sort           - performs __in-place__ sort 

#### Example 1: `append()` adds a single element to the end of a list:

In [110]:
# add orange at the end
rgb = ['red', 'green', 'blue']
None
print(rgb)

['red', 'green', 'blue', 'orange']

Using an addition operator:

In [112]:
rgb = ['red', 'green', 'blue']
rgb += ['orange']
print(rgb)

['red', 'green', 'blue', 'orange']

#### Example 2: add a sequence such as `[orange, black]` 
If you instead want to add a sequence to the end of a list, then you can use `extend()`:

```
rgb = ['red', 'green', 'blue']
rgb = ['red', 'green', 'blue', 'orange', 'black']
```

#### Solution 1:

In [98]:
# add [indigo, violet] at the end
rgb = ['red', 'green', 'blue']
None
print(rgb)

['red', 'green', 'blue', 'orange', 'black']

#### Solution 2: 
This is the same as using __inplace addition__:

In [99]:
rgb = ['red', 'green', 'blue']
None
print(rainbow)

['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

#### Note:
Using `append()` with a list produces a differnt result than `extend()`:

In [101]:
rgb = ['red', 'green', 'blue']
rgb.append(['orange', 'black'])
print(rgb)
len(rgb)

['red', 'green', 'blue', ['orange', 'black']]

4

This adds a single element to the end of the list, and that element contains the thing we appended, in this case the list `['indigo', 'violet']`.

#### Example 3:
The `count()` method tells you how many of a certain element are in a list:

In [ ]:
rgb = ['red', 'green', 'blue', 'green', 'blue', 'red']
rgb.count('red')

#### Example 4: Remove all elements after `red` in the list rainbow.

In [ ]:
rgb = ['red', 'green', 'blue', 'red', 'green', 'blue', 'red']
None
print(rgb)

#### Example 5: Insert `pink` at the index = 2 in the list.
The `insert()` method inserts a new element into a list at a particular index. 

It produces the following:

```
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow = ['red', 'orange', 'pink', 'yellow', 'green', 'blue', 'indigo', 'violet']
```

#### Solution 1: Using `insert(index, value)`

In [102]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None
print(rainbow)

['red', 'orange', 'pink', 'yellow', 'green', 'blue', 'indigo', 'violet']

#### Solution 2: Using slicing

In [103]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None
print(rainbow)

['red', 'orange', 'pink', 'yellow', 'green', 'blue', 'indigo', 'violet']

#### Example 6: Remove `yellow` in the list.
Use the `remove()` method to produce the following:

```
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow = ['red', 'orange', 'green', 'blue', 'indigo', 'violet']
```
#### Solution 1: Using `remove(value)`

In [ ]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None
print(rainbow)

#### Solution 2: Using slicing

In [ ]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None
print(rainbow)

#### Example 7: Remove third element and print its value

```
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
rainbow = ['red', 'orange', 'green', 'blue', 'indigo', 'violet']
'yellow'
```

The `pop()` method returns the value and removes an element from a list, but __by index__ rather than by value.

In [104]:
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
None
print(None)

['red', 'orange', 'green', 'blue', 'indigo', 'violet']
yellow

#### Example 8: `sort()` : in-place sort

Lists have a `sort()` method which is quite powerful.  The sort method takes various arguments that allow you to control how the sorting is done, and we'll cover that in another lecture.  But if you just call it without any argument it will sort the elements in ascending order, which is fairly useful by itself:

```
a = [10, 1, 11, 13, 11, 2, 15, 14]
a = [1, 2, 10, 11, 11, 13, 14, 15]
```

In [105]:
a = [10, 1, 11, 13, 11, 2, 15, 14]
None
print(a)

[1, 2, 10, 11, 11, 13, 14, 15]

__Note:__ Using function `sorted()` 

```
a = [10, 1, 11, 13, 11, 2, 15, 14]
b = [10, 1, 11, 13, 11, 2, 15, 14]
c = [1, 2, 10, 11, 11, 13, 14, 15]
```

In [108]:
a = [10, 1, 11, 13, 11, 2, 15, 14]
None
print(b)
print(c)

[10, 1, 11, 13, 11, 2, 15, 14]
[1, 2, 10, 11, 11, 13, 14, 15]

This is an __in-place sort__, so it actually modifies the list `a`.  If you want to sort a list, but don't want to modify it, but instead create a new, sorted list, then the `sorted()` built-in function will do this for you. Some built-in functions such as sum, len, max can be used.

#### Example 9: reverse()

Finally, there is the `reverse()` method that reverses the elements of the list __in-place__:

In [ ]:
a = [1, 2, 3, 4, 5, 6]
None    
print(a)

# 모인활 숙제: 4 문제 중에서 3 문제만 코딩하십시오. 

## 1. Swap neighbours

Given a list of numbers, swap adjacent items in pairs (`a[0]` with `a[1]`, `a[2]` with `a[3]`, etc.). Print the resulting list. If a list has an odd number of elements, leave the last element in place.

For example:
```
a = [1, 2, 3]
# your code here
print(a)

[2, 1, 3]
```
-----------
```
a = [0, 9, 4, 5, 2, 3]
# your code here
print(a)

[9, 0, 5, 4, 3, 2]
```
-----------
```
a = [0, 9, 4, 5, 2, 3, 1]
# your code here
print(a)

[9, 0, 5, 4, 3, 2, 1]
```

__Hint__: Believe it or not, mutiple assignments are possible. In the following code, two values of `x` and `y` are swapped.
```
x, y = 1, 2      # x = 1, y = 2
x, y = y, x      # x = 2, y = 1
```

In [ ]:
a = [0, 9, 4, 5, 2, 3]
for i in None:
    None

## 2. swap_two()

Make the functionality of 'swap neighbours' coded above into a function. There are two ways to implement this function. 
- swap_two_inplace() in place returns None, but changes the input list itself in the argument
- swap_two() returns a new list without changing the input list in the argument

In [ ]:
def swap_two_inplace(a):
    None

In [ ]:
a = [0, 9, 4, 5, 2, 3, 1]
b = swap_two_inplace(a)
print("a:", a)
print("b:", b)

# a: [9, 0, 5, 4, 3, 2, 1]
# b: None

In [ ]:
def swap_two(a):
    None

In [ ]:
a = [0, 9, 4, 5, 2, 3, 1]
b = swap_two(a)
print("a:", a)
print("b:", b)

# a: [0, 9, 4, 5, 2, 3, 1] 
# b: [9, 0, 5, 4, 3, 2, 1]

## 3. The largest element and its index

Get a list of integers, print the value of the largest element and then the index number. If the highest element is not unique, print the index of the first instance.

__Hint__: You can solve this problem without using a loop if you use methods available for the list object as well as built-in functions in Python.

In [ ]:
a = [6, 9, 6, 23, 12, 19, 14, 26]

None
x_value = None
x_index = None

print(x_value, x_index)

## 4. Unique elements

Given a list of integers, this function, `only_once(alist)`, returns a list with the elements that appear in the original list only once. The elements must be listed in the order in which they occur in the original list. Don't use `set`. 
For example:
```
a = [4, 3, 5, 2, 5, 1, 3, 5]
print(only_once(a))
[4, 2, 1]
```
```
b = [6, 9, 6, 23, 12, 19, 14, 26]
print(only_once(b))
[9, 23, 12, 19, 14, 26]
```

__Hint:__ Use a method available for a list object. Remember that `obejct.<tab>` displays a list of methods available for that `object`.

In [ ]:
def only_once(alist):
    b = None

    return b

In [ ]:
a = [4, 3, 5, 2, 5, 1, 3, 5]
b = [6, 9, 6, 23, 12, 19, 14, 26]
print(only_once(a))
print(only_once(b))

--------
__슬기로운 자는 재앙을 보면 숨어 피하여도 어리석은 자들은 나가다가 해를 받느니라.__
잠언27:12