In [ ]:
# 201
def print_coin():
    print("비트코인")

In [ ]:
# 202
print_coin()

In [ ]:
# 203
for i in range(100):
    print_coin()

In [ ]:
# 204
def print_coins():
    for i in range(100):
        print("비트코인")

print_coins()

In [ ]:
# 205
hello()
def hello():
    print("Hi")
    
# 함수를 먼저 define하기 전에 함수를 호출하였으므로 에러가 발생한다.
def hello():
    print("Hi")
hello()

In [ ]:
# 206
def message() :
    print("A")
    print("B")
    
message()
print("C")
message()
# A
# B
# C
# A
# B

In [ ]:
# 207
print("A")

def message() :
    print("B")

print("C")
message()

# A
# C
# B

In [ ]:
# 208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

# A
# C
# B
# E
# D

In [ ]:
# 209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

# B
# A

In [ ]:
# 210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

# B
# C
# B
# C
# B
# C
# A

In [ ]:
# 211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

# 안녕
# Hi

In [ ]:
# 212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

# 7
# 15

In [ ]:
# 213
def 함수(문자열) :
    print(문자열)

함수()
# 함수를 부를 때, "문자열" 이라는(하나의 파라미터) 파라미터가 필요한데 아무런 파라미터도 넣어주지 않았기 때문에 에러가 난다.

In [ ]:
# 214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# "안녕"은 문자열에 해당되는 것이고, 3은 정수(int)이기에 type이 달라서 같이 더할 수 없기에 에러가 난다.

In [ ]:
# 215
def print_with_smile(str):
    print(str, ":D", sep='')

In [ ]:
# 216
print_with_smile("안녕하세요")

In [ ]:
# 217
def print_upper_price(price):
    print(price*1.3)

print_upper_price(54000)

In [ ]:
# 218
def print_sum(a, b):
    print(a + b)

print_sum(7, 3)

In [ ]:
# 219
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

print_arithmetic_operation(20, 4)

In [ ]:
# 220
def print_max(a, b, c):
    max_v = 0
    if a > max_v :
        max_v = a
    if b > max_v :
        max_v = b
    if c > max_v :
        max_v = c
    print(max_v)

print_max(5, 9, 2)

In [ ]:
# 221
def print_reverse(str):
    for i in range(len(str)-1, -1, -1):
        print(str[i], end='')

print_reverse("python")

In [ ]:
# 222
def print_score(lst):
    print(sum(lst) / len(lst))

print_score ([1, 2, 3])

In [ ]:
# 223
def print_even(lst):
    for l in lst:
        if l % 2 == 0:
            print(l)
            
print_even ([1, 3, 2, 10, 12, 11, 15])

In [ ]:
# 224
def print_keys(dic):
    for key in dic.keys():
        print(key)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

In [ ]:
# 225
def print_value_by_key(dic, key):
    print(dic[key])

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
print_value_by_key  (my_dict, "10/26")

In [ ]:
# 226
def print_5xn(str):
    num = (int)(len(str) / 5)
    for i in range(num + 1):
        print(str[i * 5 : i * 5 + 5])
        
print_5xn("아이엠어보이유알어걸")

In [ ]:
# 227
def print_mxn(str, n):
    num = (int)(len(str) / n)
    for i in range(num + 1):
        print(str[i * n : i * n + n])
        
print_mxn("아이엠어보이유알어걸", 3)

In [ ]:
# 228
def calc_monthly_salary(salary):
    print((int)(salary / 12))

calc_monthly_salary(12000000)

In [ ]:
# 229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

# 왼쪽: 100
# 오른쪽: 200

In [ ]:
# 230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

# 왼쪽: 200
# 오른쪽: 100

In [ ]:
# 231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
# print (result)에서 에러가 발생할 것 이다. 왜냐하면 result라는 변수는 n_plus_1이라는 함수 안에서는 존재하지만 함수 밖에서는 존재하지 않는 변수이기 때문이다.

In [ ]:
# 232
def make_url(name):
    return "www." + name + ".com"
    
make_url("naver")

In [ ]:
# 233
def make_list(str):
    return list(str)

make_list("abcd")

In [ ]:
# 234
def pickup_even(lst):
    even_list = []
    for l in lst:
        if l % 2 == 0:
            even_list.append(l)
    return even_list

pickup_even([3, 4, 5, 6, 7, 8])

In [ ]:
# 235
def convert_int(str):
    str = str.replace(",", "")
    return (int)(str)

convert_int("1,234,567")

In [ ]:
# 236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

# 22

In [ ]:
# 237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

# 22

In [ ]:
# 238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

# 140

In [ ]:
# 239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

# 16

In [ ]:
# 240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

# 28